{% extends 'base-all-sites.html' %}

{% block head %}
<style>
        body{
        /*position: 'fixed';*/
        width: 100%;
        height: auto;
        background: url("/static/food-layout6.jpg") center no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
</style>
{% endblock %}

{% block title %}Nutrition: Display{% endblock %}

<!-- ************************************************************* -->

{% block content %}
<div class='container'>
    <div class='row' id='title' style="margin-left: 60px">
        <h2><b>Here are the nutrient levels for the foods inputted:</b></h2> <br><br><hr>
    </div>
    

<!-- Put in the measurement! -->
<div class='row' id='displayed-inputs' style="margin-left: 50px">
    <div class='col-xs-12 col-md-6 col-lg-6'>
        {% for food_name in result %} 
            <h4><b>{{ food_name }}</b></h4><br>
        {% for i in result[food_name]["nutrients"] %}
            <b>{{ i[1] }} ({{ i[0] }}):</b> {{ i[2] }} {{ i[3] }}<br> 
        {% endfor %}
        <br><br>
        {% endfor %}
    </div>
</div>
<div id='button' align='center'>
    <button type="button" class="btn btn-success" onclick="goHome()">Take me to my stats!&nbsp;<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
</button>
</div>
</div>
{% endblock %}

<!-- ************************************************************* -->

{% block JQ %}
<script>
        $(function() {
            $('.container').css({
                'background-color' : 'rgba(255, 255, 255,0.9)',
                'width': '70%',
                'padding' : '50px',
                'height': 'auto'
            })
        });

        function goHome()
        {
             location.href = "/welcome-back";
        } 


</script>
{% endblock %}