{% extends 'base.html' %}

{% block title %}Nutrition: Home{% endblock %}
<!-- ************************************************************* -->
{% block content %}

<div id="sign-in-box">
    <div id='sign-in-form'>
    <h1>Welcome! </h1> 
    <form class='sign-in' action="/double_check" method='POST'>
            <label name='sign-in-page'> 
                <b>Email: </b><input type="email" id="email" name="email" placeholder='email@domain.com' maxlength='256' required><br>
                <b>Password: </b><input type="password" id="pw" name="pw" placeholder='cAsE SeNsItiVe' required>
            </label><br><br>
        <div id='submit-buttons'>
                <input type="submit" value="Sign-in"><button type='button' id="register-button">Register!</button>
        </div>
        </form>
    </div>
</div>

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/static/IMG.VID/Veggie-Stand.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/static/IMG.VID/Veggie-Stand.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <!-- <div class="poster hidden">
            <img src="/static/IMG.VID/Veggie-Stand.jpg" alt="">
        </div> -->
    </div>
</div>

<br><br>
<!-- <a href="/search">Time to search for foods</a> -->
{% endblock %}
<!-- ************************************************************* -->

{% block JQ %}
    <script>
    $(function() {
            $('.homepage-hero-module').css({
                'position' : 'absolute',
                'top' : '-20px',
                'left' : '-20px',
                'width' : '100%',
                'z-index' : -1
            });
        });


        $(function() {
            $('#sign-in-form').css({
                'position' : 'absolute',
                'left' : '50%',
                'top' : '50%',
                'padding' : '3%',
                'margin-left' : function() {return -$(this).outerWidth()/2},
                'margin-top' : function() {return -$(this).outerHeight()/2},
                'background': 'rgb(255, 255, 255)',
                'background': 'rgba(255, 255, 255, 0.5)'

            });
        });


    $('#register-button').on('click', function(){
        window.location.href='/register';
    });
        

    </script>
{% endblock %}