{% extends 'base.html' %}

{% block title %}Nutrition: Search{% endblock %}

<!-- ************************************************************* -->

{% block content %}

<h3>Food Diary</h3>

    <form id='food-request' action="/search" method='POST'>
        <label name='food-input'> 
            <input id="food-input" name="food-input" required>
        </label><br>
        <input type="submit" value="Search!">
    </form>
    <br><br>
    <form id='all-foods-eaten' action="/" method='POST'>
        <div class="food-list">
        <!-- {% if food_info %}
            {{ food_info }}
        {% endif %} -->
        </div>
        <br>
        <input type="submit" value = "Confirm inputs" id="send-input">
    </form>


{% endblock %}
<!-- ************************************************************* -->

{% block JQ %}
    <script>
    $( function() {
    let availableFoods = {{ searchlist| tojson }};
    $( "#food-input" ).autocomplete({
        minLength: 3,
        source: availableFoods
        });
    });

    function showResult(result) {
        // If the result is '404', a modal window will pop up which will say that
        // that food is not found and to try another food. Else, it will make a 
        // special div and button for a specific food.

        if (result == '404') {
           modal({
                type: 'error', //Type of Modal Box (alert | confirm | prompt | success | warning | error | info | inverted | primary)
                title: 'Error! 404', //Modal Title
                text: 'Sorry! That food cannot be found in the database. Please try a similar food.', //Modal HTML Content
                size: 'normal', //Modal Size (normal | large | small)
                buttons: [{
                    text: 'Aw, OK', //Button Text
                    val: 'ok', //Button Value
                    eKey: true, //Enter Keypress
                    addClass: 'btn-light-blue', //Button Classes (btn-large | btn-small | btn-green | btn-light-green | btn-purple | btn-orange | btn-pink | btn-turquoise | btn-blue | btn-light-blue | btn-light-red | btn-red | btn-yellow | btn-white | btn-black | btn-rounded | btn-circle | btn-square | btn-disabled)
                    // onClick: function(dialog) {
                    //     console.log(dialog);
                    //     alert('Look in console!');
                    //     return true;
                    // }
                }, ],
                center: true, //Center Modal Box?
                autoclose: false, //Auto Close Modal Box?
                callback: null, //Callback Function after close Modal (ex: function(result){alert(result); return true;})
                onShow: function(r) {}, //After show Modal function
                closeClick: true, //Close Modal on click near the box
                closable: true, //If Modal is closable
                theme: 'atlant', //Modal Custom Theme (xenon | atlant | reseted)
                animate: false, //Slide animation
                background: 'rgba(0,0,0,0.35)', //Background Color, it can be null
                zIndex: 1050, //z-index
                buttonText: {
                    ok: 'OK',
                    yes: 'Yes',
                    cancel: 'Cancel'
                },
                template: '<div class="modal-box"><div class="modal-inner"><div class="modal-title"><a class="modal-close-btn"></a></div><div class="modal-text"></div><div class="modal-buttons"></div></div></div>',
                _classes: {
                    box: '.modal-box',
                    boxInner: ".modal-inner",
                    title: '.modal-title',
                    content: '.modal-text',
                    buttons: '.modal-buttons',
                    closebtn: '.modal-close-btn'
                }
            });
        }
        else {
            let name = result[0].replace(/\,/g, "").replace(/ /g, '')
            // let name = 'kale'
            let buttonName = 'deleteButton' + name;
            $(".food-list").append("<div id='" + name + "'>")
            console.log('#' + name)

            $('#' + name).append("<b>" + result[0] + "<b> <button type=button id=" + buttonName + ">X</button>").append("<br>") 
            $('#' + name).append("<i>Serving size: </i> " +  result[1] + " " + result[2])
            $('#' + name).append("<form id='serving-size'><input type='number' id='serving-amt' placeholder='Enter amt' required> serving(s)</form>")
            $('#' + name).append("<br>")
            $('#' + name).append("</div>")

            $("#" + buttonName).on("click", function(evt) {
                evt.preventDefault;
                $('#' + name).remove();
                // console.log(name);
            });
        }
    }


    function askForFoods(evt) {
        evt.preventDefault();

        let input = {
            "input": $('#food-input').val()
        };
        console.log(input)

        $.post("/search", 
               input, 
               showResult);

    }


    $("#food-request").on("submit", askForFoods);

    $("#food-request").on("submit", function(){
        $("#food-input").val('');
    });

    // $('#show-foods').attr("style", "color:#0000FF")
    </script>
{% endblock %}

