{% extends 'base-all-sites.html' %}

{% block head %}
<style>
        body{
        /*position: 'fixed';*/
        width: 100%;
        height: auto;
        background: url("/static/food-layout4.jpg") center no-repeat;
        background-size: auto;
      }
</style>
{% endblock %}
{% block title %}Nutrition: Search{% endblock %}

<!-- ************************************************************* -->

{% block content %}
<div class='container'>
    <div class='col-xs-12' id='scroll' align='center'>
    <h3>Food Tracker</h3>
    </div>
    <div class='row' id='search-box' align='center'>
    <form id='food-request' action="/search" method='POST'>
        <label name='food-input'> 
            <input id="food-input" name="food-input" required>
        </label><br>
        <input type="submit" value="Search!">
    </form>
    </div>
    <br><br>
    <!-- <div id='send-input-button' align='center'> -->

    <form id='all-foods-eaten' action="/display_foods"  method='POST'>
        <!-- Creates a hidden field wit hthe name as food-num so that we can send
        this info over to the server later -->
        <input type='hidden' name='food-num' id='food-num' value='0'>
        <div class="food-list">
        </div>
        <br>
        <input type="submit" value = "Confirm inputs" id="send-input">
        <!-- </div> -->
    </form>
</div>

{% endblock %}
<!-- ************************************************************* -->

{% block JQ %}
    <script>
        $(function() {
            $('.container').css({
                'background-color' : 'rgba(255, 255, 255,0.9)',
                'width': '70%',
                'padding' : '50px',
                'height': 'auto'
            })
        });


    // Was used to make a dictionary to pass which did
    // not work
    let inputtedFoods = {}; 

    var foodNum = 0; // Make a variable called foodNum which is being used as our counter

    // Taken from the JQueryUI page on autocomplete. Uses | tojson to stringify the 
    // information passed over from the server. 
    $( function() {
    let availableFoods = {{ searchlist| tojson }};
    $( "#food-input" ).autocomplete({
        minLength: 3, // Makes sure that the search doesnt start until 3 characters long. Othewise: SLOW
        source: availableFoods
        });
    });



    function showResult(result) {
        // If the result is '404', a modal window will pop up which will say that
        // that food is not found and to try another food. Else, it will make a 
        // special div and button for a specific food.

        if (result == '404') {
           modal({
                type: 'error', //Type of Modal Box (alert | confirm | prompt | success | warning | error | info | inverted | primary)
                title: 'Error! 404', //Modal Title
                text: 'Sorry! That food cannot be found in the database. Please try a similar food.', //Modal HTML Content
                size: 'normal', //Modal Size (normal | large | small)
                buttons: [{
                    text: 'Aw, OK', //Button Text
                    val: 'ok', //Button Value
                    eKey: true, //Enter Keypress
                    addClass: 'btn-light-red', //Button Classes (btn-large | btn-small | btn-green | btn-light-green | btn-purple | btn-orange | btn-pink | btn-turquoise | btn-blue | btn-light-blue | btn-light-red | btn-red | btn-yellow | btn-white | btn-black | btn-rounded | btn-circle | btn-square | btn-disabled)
                    // onClick: function(dialog) {
                    //     console.log(dialog);
                    //     alert('Look in console!');
                    //     return true;
                    // }
                }, ],
                center: true, //Center Modal Box?
                autoclose: false, //Auto Close Modal Box?
                callback: null, //Callback Function after close Modal (ex: function(result){alert(result); return true;})
                onShow: function(r) {}, //After show Modal function
                closeClick: true, //Close Modal on click near the box
                closable: true, //If Modal is closable
                theme: 'atlant', //Modal Custom Theme (xenon | atlant | reseted)
                animate: false, //Slide animation
                background: 'rgba(0,0,0,0.35)', //Background Color, it can be null
                zIndex: 1050, //z-index
                buttonText: {
                    ok: 'OK',
                    yes: 'Yes',
                    cancel: 'Cancel'
                },
                template: '<div class="modal-box"><div class="modal-inner"><div class="modal-title"><a class="modal-close-btn"></a></div><div class="modal-text"></div><div class="modal-buttons"></div></div></div>',
                _classes: {
                    box: '.modal-box',
                    boxInner: ".modal-inner",
                    title: '.modal-title',
                    content: '.modal-text',
                    buttons: '.modal-buttons',
                    closebtn: '.modal-close-btn'
                }
            });
        $('#food-input').val('');
        }
        // This function assigns a unique id to both the div given to each instance 
        // of food inputted and to the delete button of the entry
        else {
            // Finds all the commas, spaces, parens of the name and removes them. This
            // needs to happen because javascript won't accept it otherwise
            let name = result[0].replace(/\,/g, "").replace(/ /g, '').replace(/\(/g, "").replace(/\)/g, "").replace(/\./g, "").replace(/\%/g, "")
            // let name = 'kale'
            let buttonName = 'deleteButton' + name; // Unique deleteButton name
            let servingName = 'serving-amt-' + name; // Unique serving input name
            let confirmButton = 'confirm-' + name; // Unique confirm (checkmark) button name
            let editButton = 'edit-' + name; // Unique edit (pencil) button name

            $(".food-list").append("<div id='" + name + "'>") // Makes unique div for the food searched
            console.log('#' + name)

            foodNum ++; // Increment foodNum by 1 
            var servingQtyName = 'serving-qty-' + foodNum; // Make the unique id to refer to that food's expected serving qty
            $('#food-num').val(foodNum); // Overwrite the hidden HTML id above to be foodNum

            // Append to the food's unique div the exact name of the food as shown in USDA. Create an 'X' delete button with a unique id pertaining to the food. Make a hidden input field which assigns the value to be the id of the food.
            $('#' + name).append("<b>" + result[0] + "<b>&nbsp;<button type=button id=" + buttonName + "><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button><input type='hidden' name='food-name-" + foodNum + "' value=" + result[3] + "><input type='hidden' name='name-" + foodNum +"' value='(" + (result[0]) + ")'>").append("<br>") 
            // Append the basic serving size for the food according to the USDA and pulled from the local database. 
            $('#' + name).append("<i>Serving size: </i> " +  result[1] + " " + result[2])
            // Make a box where the user can input a positive number for the amount of servings they ate of the food. A confirm button and an edit button is shown. 

            // Once the confirm button is pressed, it is added to the HTML that is send to the server. If this entry is deleted, then the food id list and the user serving qty is just listed as 'None'
            // Once the edit button is pressed, it is enabled for editing. 
            $('#' + name).append("<form id='serving-size'><input type='number' name='serving-size' id=" + servingName + " placeholder='Enter amt' min=0 required>serving(s)&nbsp;&nbsp;<button type=button id=" + confirmButton +"><span class='glyphicon glyphicon-ok' aria-hidden='true'></button>&nbsp;<button type=button id=" + editButton + "><span class='glyphicon glyphicon-pencil' aria-hidden='true'></button></form>")
            // Appends a hidden field which assigns the unique name 'serving-qty-<insert food name here>' as the id for the input box. Initially the value is ''
            $('#' + name).append("<input type='hidden' id='" + servingQtyName + "' name='" + servingQtyName + "' value=''><br>");

            // If the button is clicked, the whole entire div belonging to the 
            // entry, its children, and its place in our inputtedFoods map is deleted.
            $("#" + buttonName).on("click", function(evt) {
                evt.preventDefault;
                if (inputtedFoods[result[0]]) {
                    delete inputtedFoods[result[0]]
                }
                $('#' + name).remove();
                // console.log(name);
            });

            // Once confirm is pressed, the name and the quantity is put into dictionary form. 
            $("#" + confirmButton).on("click", function(evt) {
                evt.preventDefault
                if ($('#' + servingName).val() > 0) {
                    inputtedFoods[result[0]] = $('#' + servingName).val();

                    $('#' + servingName).attr('disabled', true);
                    $('#'+servingQtyName).attr('value', $('#' + servingName).val());
                }
                else {
                    alert('Number cannot be negative or zero')
                }
            });

            $("#" + editButton).on("click", function(evt) {
                evt.preventDefault
                $('#' + servingName).attr('disabled', false)
                delete inputtedFoods[result[0]]
            });
        }
    }
    
    // Gets the input from the box the user inputted and sends it to the server
    // to get all the info on that food (or error and give back 404 cause thats 
    // cool too.) It then returns the results and sends to showResult. Also 
    // deletes the input each submission with .val(''). This also happens when there's errors.
    function askForFoods(evt) {
        evt.preventDefault();

        let input = {
            "input": $('#food-input').val()
        };
        console.log(input)

        $.post("/search", 
               input, 
               showResult);
        $('#food-input').val('');
    }

    // When user asks for food, run askForFoods function
    $("#food-request").on("submit", askForFoods);

    

    </script>
{% endblock %}

