{% extends 'base.html' %}

{% block title %}Nutrition: Welcome!{% endblock %}
<!-- ************************************************************* -->
{% block content %}
    <h1>Welcome back, {{ session['user_name'] }}!</h1>
    <h2>Here is your daily summary: </h2>

<div class = 'wrapper'>
    <div id ='min-req'>
        <h3>Daily Minimum Requirements:</h3>
        {% for i in no_lim %}
            <b>{{ i[0] }}</b>: {{ i[2] }} {{ i[3] }}<br>
        {% endfor %}
    </div>

    <div id='max-lim'>
        <h3>Daily Micronutrient Limits</h3>
        {% for i in lim %}
            <b>{{ i[0] }}</b>: {{ i[2] }} {{ i[3] }}<br>
        {% endfor %}
    </div>

</div>
<br><br>
<div class="reqs"
    <div id='upper-lim-def'>
        <h3>Micronutrients With Upper Limit</h3>
        <b>You may consume up to this amount for the rest of the day: </b><br><br>
        {% for i in upper_def %}
            <b>{{ i[2] }}</b>: {{ i[0] }} {{ i[1] }}<br>
        {% endfor %}
    </div>

    <div id='no-upper'>
        <h3>Micronutrients With Upper Limit</h3>
        <b>This is the remaining amount you need to meet your goal:</b><br><br>
        {% for i in no_upper_def %}
            <b>{{ i[2] }}</b>: {{ i[0] }} {{ i[1] }}<br>
        {% endfor %}
    </div>
</div>

{% endblock %}
<!-- ************************************************************* -->

{% block JQ %}
<script>
    $(function() {
            $('.wrapper').css({
                'width' : '600px'
                'height' : '200px'
            });

    });

    $(function() {
            $('.reqs').css({
                'width' : '400px'
            });
            $('#upper-lim-def').css({
                'float' : 'left'
            });
            $('#no-upper').css({
                'float' : 'right'
            });

    });
</script>
{% endblock %}