{% extends 'base-all-sites.html' %}

{% block title %}Nutrition: Welcome!{% endblock %}
<!-- ************************************************************* -->
{% block content %}
<div class='container'>
    <div class='row' id='nutri-requirements'>

        <div class='col-lg-offset-2'>
                <h1>Welcome back, {{ session['user_name'] }}!</h1>
                <h2>Here is your daily summary: </h2>

                <canvas id="myChart"></canvas>
            <div class='col-lg-4'>
                <div id ='min-req'>
                    <h3>Daily Minimum Requirements:</h3>
                    {% for i in no_lim %}
                        <b>{{ i[0] }}</b>: {{ i[2] }} {{ i[3] }}<br>
                    {% endfor %}
                </div>
            </div>
            <div class='col-lg-4'>
                <div id='max-lim'>
                    <h3>Daily Micronutrient Limits</h3>
                    {% for i in lim %}
                        <b>{{ i[0] }}</b>: {{ i[2] }} {{ i[3] }}<br>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>




</div>
<br><br><hr>
<div class="reqs"
    <div id='upper-lim-def'>
        <h3>Micronutrients With Upper Limit</h3>
        <b>You may consume up to this amount for the rest of the day: </b><br><br>
        {% for i in upper_def %}
            <b>{{ i[2] }}</b>: {{ i[0] }} {{ i[1] }}<br>
        {% endfor %}
    </div>

    <div id='no-upper'>
        <h3>Micronutrients With Upper Limit</h3>
        <b>This is the remaining amount you need to meet your goal:</b><br><br>
        {% for i in no_upper_def %}
            <b>{{ i[2] }}</b>: {{ i[0] }} {{ i[1] }}<br>
        {% endfor %}
    </div>
</div>


{% endblock %}
<!-- ************************************************************* -->

{% block JQ %}
<script>
    // $(function() {
    //         $('.nutri-requirements').css({
    //             'margin' : 'auto',
    //             'max-width' : '500px'
    //         });

    // });

    $(function() {
            $('.reqs').css({
                'width' : '400px'
            });
            $('#upper-lim-def').css({
                'float' : 'left'
            });
            $('#no-upper').css({
                'float' : 'right'
            });

    });

// Charts.io
$(function() {
            $('#myChart').css({
                'max-width' : '800px',
                'max-height' : '800px'

    })
});
// Charts.io


        var barChartData = {
            labels: ['Calcium (mg)', 'Magnesium (mg)', 'Phosphorous (mg)', 'Potassium (mg)', 'Zinc (mg)', 'Vitamin A (RAE)', 'Vitamin D (μg)', 'Vitamin C (mg)', 'Vitamin B1/Thiamin (mg)', 'Vitamin B2/Riboflavin (mg)', 'Vitamin B3/Niacin (mg)', 'Vitamin B6 (mg)', 'Vitamin B9/Folate (μg)', 'Vitamin K (μg)'],
            datasets: [{
                label: 'Consumed',
                backgroundColor: 'rgba(114, 172, 1, 0.4)',
                borderColor:'rgba(114, 172, 1, 1)',
                borderWidth: 1,
                data: {{ consumed_data|safe }} // First idx = first chart etc
            }, {
                label: 'Deficient',
                backgroundColor: 'rgba(74, 74, 74, 0.4)',
                borderColor:'rgba(74, 74, 74, 1)',
                borderWidth: 1,
                data: {{ deficient_data|safe }} // First idx = first chart etc
            }]

        };
        window.onload = function() {
            var ctx = $("#myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    title: {
                        display: true,
                        text: 'Daily Nutrients in %'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        };

    
</script>
{% endblock %}