{% extends 'base.html' %}

{% block title %}Nutrition: Welcome!{% endblock %}
<!-- ************************************************************* -->
{% block content %}
<div id="newbie-welcome">
    <h1> So glad you've joined us! </h1>

    <div id='instructions-to-newbies'>
        <h4 id='intro-to-mn'>How this works:</h4>
        <p>
            <ol>
                <li>Input your foods!</li>
                <li>See your required micronutrient intake goals met</li>
                <li>Accomplish the goal as best you can</li>
                <li>Rinse, repeat!</li>
            </ol>
        </p>
    </div>
<a href="/welcome-back">Click on me to head over to your profile!</a>
</div>
{% endblock %}
<!-- ************************************************************* -->

{% block JQ %}
    <script>
        $(function() {
            $('#newbie-welcome').css({
                'position' : 'absolute',
                'left' : '50%',
                'top' : '50%',
                'margin-left' : function() {return -$(this).outerWidth()/2},
                'margin-top' : function() {return -$(this).outerHeight()/2},
            });
        });
        
    </script>
{% endblock %}